.App {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


aside {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 100%;
  height: 5vh;
}

aside button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0C551;
  border-radius: 6px;

  padding: 3%;
  color: white;
  font-size: 12px;

  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

main {
  position: relative;
  width: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-content: center;
  align-items: center;
}

main .card {
  height: 160px;
  width: calc(160px* 0.57);
  cursor: pointer;
}

main .card:hover {
  transform: scale(1.10);
}

.congrats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.congrats img {
  position: absolute;
  width: 300px;
}

.unclickable {
  all: unset;
}

.unclickable:hover {
  all: unset;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.score>div p {
  font-size: 24px;
}

@media (min-width: 600px) {
  aside {
    height: 6vh;
  }

  main {
    grid-template-columns: repeat(4, 1fr);

  }

  main .card {
    height: 180px;
    width: calc(180px* 0.57);
  }
}

@media (min-width: 700px) {
  aside {
    height: 10vh;
  }

  main {
    grid-template-columns: repeat(6, 1fr);

  }

  main .card {
    height: 170px;
    width: calc(170px* 0.57);
  }
}

@media (min-width: 1000px) {
  .App {
    flex-direction: row;
  }

  aside {
    flex-direction: column;
    height: 100%;
    width: 10vw;
  }

  main {
    width: fit-content;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding-left: 30px;
    margin: auto;
  }

  main .card {
    height: 236px;
    width: calc(236px* 0.57);
  }

  .congrats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 70vw;
  }
}